<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Magic Form Designer">
  <title>The Magic Form Designer</title>
  <!--link href="stiligt.css" rel="stylesheet"-->
</head>
<body>
  <header>
    <div>
      <h1>Magic Form Designer</h1>
    </div>
  </header>
  <main>
    {{form}}
  </main>
</body>

