* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ede8e3
}

header {
  background-color: #5a8dba;
  padding: 0 1rem;
  color: #fff;
  height: 3.4rem;
}

header > div {
  display: flex;
  align-content: center;
}

header div h1 {
  font-size: 140%;
  font-weight: 400
}

main {
  margin: 0 1em;
  padding-top: 0.8em;
  min-height: calc(100vh - 3.4rem)
}

main ul {
  margin: 0;
  padding-left: 0.2em;
}

main ul li {
  display: flex;
  flex-direction: column;
  padding: 0.3em 0;
}

main ul li.checkbox {
  flex-direction: row-reverse;
  justify-content: start;
}

input, select {
  font-size: 100%;
  margin: 0.1em 0.2em 0 -0.2em;
  padding: 0.4em;
  border-radius: 6px;
  border-style: solid;
  background-color: #fff;
}

input[type=checkbox] {
  margin-right: 0.4em;
}

@media screen and (min-width: 600px) {
  main, header > div {
    max-width: 600px;
    margin: 0 auto;
  }
}
